// Resets and Mixins
@import "includes/reset.scss";
@import "includes/grid.scss";
@import "includes/variables.scss";
@import "includes/mixins.scss";


.small-down{
	display: inline;
	@include breakpoint(medium){
		display: none;
	}
}

.med-up{
	display: none;
	@include breakpoint(medium){
		display: inline;
	}
}

body{
	background: #f7f7f7;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
	font-size: 16px;
}

h1, h2, p{ // animate text resizing
	transition: all 300ms;
}


h1{
		font-size: 2.4em;
}

h2{
		font-size: 1.6em;
		font-weight: bold;
		line-height: 1.8em;
		
}

p{
	line-height: 1.5em;
	margin-bottom: 1em;
}

a{
	color: $orange;
	text-decoration: none;
	&:hover{
		color: $light-blue;
		text-decoration: underline;
	}
}

.overlay-copy h2{
	text-align: center;
	font-size: 2.4em;
	@include breakpoint(headline1){
		font-size: 3em;
	}
	@include breakpoint(headline2){
		font-size: 3.6em;
	}

	@include breakpoint(headline3){
		font-size: 6em;
	}
}

.overlay-copy p {
	font-size: 1.2em;
	font-weight: 400;
}




.wrapper{
	// /border-bottom: 50px solid $dark-blue;
	margin: 0 auto 0;
	padding-bottom: 20px;
	overflow: hidden;
}


article{
	padding: 40px 10%;
	@include column(12);
}

.constrained{
	@include breakpoint(max-width){
		float: none;
		display: block;
		padding: 40px 0;
		width: $max-width-inner;
		margin: 0 auto;
	}
}


.full-bleed{
	position: relative;
	padding: 0;
}
.overlay-copy{
	@include column(12);
	color: #fff;
	padding: 20px;
	position: relative;
	overflow: hidden;

	@include breakpoint(medium){
		padding: 60px 40px;
		margin: 0 10%;
		width: 80%;
	}
	@include breakpoint(large){
		padding: 80px 40px;
		margin: 0 10%;
	}

	@include breakpoint(max-width){
		float: none;
		display: block;
		width: $max-width-inner;
		margin: 0 auto;
	}
}



#about-intro{
		background-image: inline-image('../images/meeting_blue.jpg');
		background-position: top center;
		background-repeat: no-repeat;
		background-position: fixed;
		background-size: 170% auto;
		padding: 50px 0;
		@include breakpoint(medium){
			background-size: 100% auto;
		}
}
.intro{
	margin-bottom: 40px;
	position: relative;
	@include breakpoint(max-width){
		margin-top: 40px;
		float: left;
	}
}


.intro p{
	font-size: 1.3em;
}


#team{
		@include column(12);
		background-image: inline-image('../images/yay_green.jpg');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 185% auto;
		@include breakpoint(medium){
			background-size: 115% auto;
			background-position: center center;
		}
}

#team .overlay-copy{
	padding-bottom: 40px;
	padding-top: 40px;
}

#team .overlay-copy h2{
	font-size: 3em;
	@include breakpoint(headline1){
		font-size: 4em;
	}
	@include breakpoint(headline2){
		font-size: 5em;
	}

	@include breakpoint(headline3){
		font-size: 8em;
	}
}



.role-row .sub-units{
	@include breakpoint(medium){
		position: relative;
	}
}
.role-row .sub-unit-wrap{
	@include breakpoint(medium){
		margin-left: 8em;
	}
}



.role-abbrv{
	font-size: 4em;
	&.xd{
		color: $light-blue;
	}
	&.xt{
		color: $green;
	}
	&.cs{
		color: $pink;
	}
	&.dm{
		color: $orange;
	}
	@include breakpoint(medium){
		position: absolute;
		left: 0;
		top: -22px;
	}
}

// header

header{
	color: #fff;
	margin: 0 0;
	float: left;
	position: fixed;
		top: 0;
	text-align: left;
	width: 100%;
	z-index: 9999;
}
header a{
	color: $dark-blue;
	&:hover{
		color: $yellow;
	}
}
.mail-icon{
	position: absolute;
		left:0;
		top: 0;
}

.activate-mail{
	display: inline-block;
	background-color: $dark-blue;
	background-image: inline-image('../images/mail-icon.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 55%;
	text-indent: -9999px;
	height: 50px;
	position: fixed;
	width: 50px;
	z-index:999;

	&:hover{
		background-color: $yellow;
	}
}
.head-wrap{
	//background: rgba(2,91,161,.9);
	background: rgb(2,91,161);
	height: 50px;
	padding: 10px 0;
	position: fixed;
	width: 100%;
	z-index: 888;
	@include breakpoint(max-width){
		float: none;
		display: block;
		padding: 10px 0;
		margin: 0 auto;
	}
}


.cta{
	display: inline-block;
	float: left;
	height: 70px;
	width: 100%;
	padding-right: 20px;
	text-align: right;
	@include breakpoint(medium){
		height: 30px;
		right: 40px;
		padding-right: 0;
		text-align: center;
	}

}

footer{
	@include column(12);

	a{
		@include column(12);
	background: $dark-blue;
	color: #fff;
	height: 50px;
	width: 100%;
	text-align: center;
	padding-top: 1em;
	}
	a:hover{
		background: $yellow;
		color: #fff;
		text-decoration: none;
	}
}

//4-up layouts
.sub-units{
	@include column(12);
	padding-bottom: 40px;
	position: relative;
	@include breakpoint(large){
		@include column(6);
	}
}
.odd{
	@include breakpoint(large){
		padding-right: 40px;
	}
}
.role-row{
	clear: both;
}

//3-up layouts
#what .sub-units{
	@include breakpoint(large){
		padding-right: 20px;
		@include column(4);
	}	
}

#what .sub-unit-icon{
	display: none;


	@include breakpoint(large){
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 100%;
		display: block;
		height: 200px;
		margin: 0 auto 40px;
		width: 70%;
	}

	&.collaboration{
		background-image: inline-image('../images/Collaboration_Icons_Orange.svg');
	}

	&.user-centered{
		background-image: inline-image('../images/UserCentered_Icons_Pink.svg');
	}

	&.process-driven{
		background-image: inline-image('../images/Process_Icons_Blue.svg');
	}

}

.throb:hover .user-centered{
	-webkit-animation-name: throb;
	-webkit-animation-duration: 1.1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-out;
}


@-webkit-keyframes throb {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.1); }
    100% { -webkit-transform: scale(1); }
}




// ie8 silliness
.lt-ie9{

	.wrapper *{
		color: #000 !important;
	}

	.mail-icon{
		display: none;
	}

	.ie-message{
	position: fixed;
	top: 40%;
	width: 100%;
	background: $pink;
	color: #fff;
	padding: 40px;
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";

	}
	.ie-message .close-it{
		color: #fff !important;
		position: absolute;
		right: 10px;
		top: 10px;
		}

		.head-wrap,
		footer a, footer a:hover{
			background: #000;
			color: #fff;
		}

		.cta, .cta .med-up, .cta a{
			color: #fff  !important;
		}
}


