///////////////// 
// grid system //
/////////////////


$column-width: 60;
$gutter-width: 0;
$columns: 12;
$total-width: 100%;

///////////////// 
// colors      //
/////////////////
$green: #bfd730; /* green */
$dark-blue: #51b0e0; /*dark blue*/
$light-blue: #4bc4d4; /*light blue*/
$pink: #ed2d92; /*pinkish-red*/
$orange: #f7941d; /*orange you glad we made this a variable? */
$yellow: #eccd1f; /*yellow*/
$purple: #a854a1;