///////////////// 
// grid system //
/////////////////


$column-width: 60;
$gutter-width: 0;
$columns: 12;
$total-width: 100%;

///////////////// 
// colors      //
/////////////////

$green: #bfd730; 
$dark-blue: #51b0e0;
$light-blue: #4bc4d4;
$pink: #ed2d92;
$orange: #f7941d;
$yellow: #eccd1f;
$purple: #a854a1;

